div(class="d-flex align-items-center justify-content-between")
	div(class="d-flex align-items-center gap-2")
		a(href="/admin")
			i(class="bi bi-arrow-left fs-3") 
		h3(class="mb-0") 
			span Заказ #
			span(class="orderId")= order.id
	div(class="order-btns")
		button(class="btn btn-info btn-sm ms-2 d-none" id="taked-order" data-showon="[2]") Забрать
		button(class="btn btn-success btn-sm ms-2 d-none" id="complete-order" data-showon="[2,3]") Выполнить
		button(class="btn btn-danger btn-sm ms-2 d-none" id="cancel-order" data-showon="[1,2,3]") Отменить
		button(class="btn btn-primary btn-sm ms-2 d-none" id="reboot-order" data-showon="[4,5]") Вернуть заказ 

hr