div(class="overflow-auto")
  table(class="table table-hover bg-white")
    thead 
      tr
        th Название
        th Телефон
        th Город
        th(class="d-none d-lg-table-cell") Адрес
        th
    tbody(class="stores-list")