mixin statusChecker(id, name, cls, checked)
  span(class=`badge status-checker status-${id} bg-${cls} bg-gradient${checked?' checked':''}` data-id=id)= name

div(class="filter-box" style="display:none")
  div(class="container")
    div(class="row pb-3 pt-3 bg-white rounded-top")

      div(class="col-md-4")
        div(class="mb-3")
          h6 Города
          div(class="cities")
            span(class="badge bg-success ps-1 pe-1" data-bs-toggle="modal" data-bs-target="#cityAddForm") 
              i(class="bi bi-plus-circle" title="Добавить город" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true")

      div(class="col-md-4")
        div(class="mb-3")
          h6 Магазины
          div(class="stores")
            span(class="badge bg-success ps-1 pe-1" data-bs-toggle="modal" data-bs-target="#storeAddForm") 
              i(class="bi bi-plus-circle" title="Добавить магазин" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true")

      div(class="col-md-4")
        div(class="mb-3")
          h6 Курьеры
          div(class="drivers")
            span(class="badge bg-success ps-1 pe-1" data-bs-toggle="modal" data-bs-target="#driverAddForm") 
              i(class="bi bi-plus-circle" title="Добавить курьера" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true")

    div(class="row pb-3 bg-white")

      div(class="col-md-4")
        div(class="mb-3")
          h6 Статус
          div(class="statuses")
            +statusChecker(1, 'Ожидает', 'warning')
            +statusChecker(2, 'Принят', 'primary')
            +statusChecker(3, 'В пути', 'info')
            +statusChecker(4, 'Выполнен', 'success')
            +statusChecker(5, 'Отменён', 'danger')

      div(class="col-md-4")
        div(class="mb-3")
          h6 Номер клиента
          input(class="form-control form-control-sm" id="client-phone" placeholder="Номер клиента...")

      div(class="col-md-4")
        div(class="mb-3")
          h6 Адрес
          input(class="form-control form-control-sm" id="delivery-address" placeholder="Адрес доставки...")

    div(class="row bg-white rounded-bottom")
      div(class="col-md-4")
        div(class="mb-3")
          h6 С даты 
          div(class="input-group input-group-sm")
            span(class="input-group-text") 
              i(class="bi bi-calendar-check")
            input(type="text" class="form-control" placeholder="С даты..." id="date-from")

      div(class="col-md-4")
        div(class="mb-3")
          h6 По дату 
          div(class="input-group input-group-sm")
            span(class="input-group-text") 
              i(class="bi bi-calendar-check")
            input(type="text" class="form-control" placeholder="По дату..." id="date-to")

      div(class="col-md-4")
        div(class="mb-3 text-center")
          h6 &nbsp;
          button(class="btn btn-success btn-sm btn-start-filter" style="min-width:180px") 
            span Применить фильтр 
            i(class="bi bi-filter")

    hr

include /include/admin/cityAddForm
include /include/admin/storeAddForm
include /include/admin/driverAddForm