table(class="table table-hover bg-white")
  thead 
    tr 
      th Номер
      th Поступил
      th Статус
      th Номер&nbsp;клиента
      th Адрес&nbsp;доставки
      th Магазин
      th Сумма
      th Доставщик
      th 
  tbody(class="order-list")