div(class="modal fade" tabindex="-1" id="orderChangeForm" data-bs-backdrop="static" )
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title") 
          span Заказ #
          span(class="order-id")
        span(class="badge-box ms-2")

        button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")

      form(method="post" action="/order/update")

        div(class="modal-body")
          input(type="hidden" name="id")
          input(type="hidden" name="storeId")
          input(type="hidden" name="cityId")
          input(type="hidden" name="city-name")


          div(class="mb-3")
            div(class="input-group")
              span(class="input-group-text" title="Адрес доставки" data-bs-toggle="tooltip" data-bs-placement="top") 
                i(class="bi bi-geo-alt-fill")
              input(class="form-control" name="delivery-address" placeholder="Адрес доставки..." autocomplete="off" required="")

          div(class="mb-3")
            div(class="input-group")
              span(class="input-group-text" title="Телефон клиента" data-bs-toggle="tooltip" data-bs-placement="top") 
                i(class="bi bi-phone")
              input(class="form-control" name="client-phone" placeholder="Телефон клиента..." autocomplete="off")

          div(class="mb-3")
            div(class="input-group")
              span(class="input-group-text" title="Сумма заказа" data-bs-toggle="tooltip" data-bs-placement="top") 
                i(class="bi bi-cash-coin")
              input(class="form-control" name="order-summ" placeholder="Сумма заказа" autocomplete="off" type="number")

          div(class="mb-3")
            div(class="input-group")
              span(class="input-group-text" title="Комментарий к заказу" data-bs-toggle="tooltip" data-bs-placement="top") 
                i(class="bi bi-chat-text-fill")
              textarea(class="form-control" name="order-comment" placeholder="Комментарий для курьера" autocomplete="off")

          a(href="#" class="btn-show-history") Показать историю измения статусов
          div(class="order-history")


        div(class="modal-footer justify-content-center")
          button(type="button" class="btn btn-danger btn-cancel-order btn-sm") Отменить
          button(type="button" class="btn btn-info btn-take-order btn-sm") Отправлен
          button(type="submit" class="btn btn-primary btn-update-order btn-sm") Изменить 
