extends /layout/whideTreeRows

block head
	script(src="/socket.io/socket.io.js")
	script(src="/js/2gis/geocoder.js")

block header 
	include ../header

block main
	div(class="container")

		div(class="d-flex align-items-center justify-content-between")
			div(class="d-flex align-items-center gap-2")
				a(href="/admin/orders")
					i(class="bi bi-arrow-left fs-3") 
				h3(class="mb-0") Новый заказ

		hr

		form(action="/admin/orders/add" method="post")

			div(class="mb-3")
				label(class="form-label") Телефон клиента
				input(class="form-control" placeholder="+7 ..." name="clientPhone" required="") 

			div(class="mb-3")
				label(class="form-label") Сумма заказа
				input(class="form-control" type="number" min="1" placeholder="Сумма заказа" name="summ" required="") 

			div(class="mb-3")
				label(class="form-label") Магазин
				select(class="form-control" name="storeId" required="") 
					each store in stores 
						option(value=store.id data-city=store.city.name)= store.username

			div(class="mb-3")
				label(class="form-label") Адрес
				div(class="input-group")
					input(class="form-control" placeholder="Адрес" name="address" required="") 
					button(class="btn btn-dark" type="button" id="getPoint")
						i(class="bi bi-geo-alt")

			div(class="row")
				div(class="col-md-6")
					div(class="mb-3")
						label(class="form-label") Широта
						input(class="form-control" placeholder="Широта" name="latitude") 
				div(class="col-md-6")
					div(class="mb-3")
						label(class="form-label") Долгота
						input(class="form-control" placeholder="Долгота" name="longitude") 

			div(class="mb-3")
				label(class="form-label") Комментарий
				textarea(class="form-control" rows="4" placeholder="Комментарий" name="comment")

			button(class="btn btn-success" type="submit") Добавить

block scripts 
	script(src="/js/admin/orders/add.js")