script(id="cityFilterTmpl" type="text/x-jquery-tmpl")
  span(class="badge city bg-secondary" data-id="${id}") 
    span ${name}
    span(class="remove-city ms-2" title="Убрать ${name} из фильтра" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true")
      i(class="bi bi-x-circle-fill")