extends /layout/whideTreeRows

block head 
  script(src="/socket.io/socket.io.js")
  script(src="/js/base.js")
  script(src="/js/jquery.tmpl.min.js")
  link(href="/css/admin/orders/orders.css" rel="stylesheet")

  link(rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css")
  link(href="/css/ui/datepicker.css" rel="stylesheet")
  script(src="https://code.jquery.com/ui/1.13.2/jquery-ui.js")

block header 
  include ../header

block main
  div(class="container")

    include ./index/header

    include ./index/filter

    include ./index/table

block scripts 
  include ./index/order-tmpl
  include ./index/filter-tmpl
  script(src="/js/admin/orders/index/filter.js")