extends /layout/whideTreeRows

block head 
  script(src="/socket.io/socket.io.js")
  script(src="/js/base.js")
  script(src="/js/jquery.tmpl.min.js")
  link(href="/css/admin/orders/orders.css" rel="stylesheet")

block header 
  include ../header

block main
  div(class="container")

    include ./index/header

    include ./index/filter

    include ./index/table

block scripts 
  include ./order-tmpl
  include ./filter-tmpl
  script(src="/js/admin/orders/orders.js")