extends /layout/whideTreeRows

block head 
  script(src="/socket.io/socket.io.js")
  script(src="/js/base.js")
  script(src="/js/jquery.tmpl.min.js")
  link(href="/css/admin/orders/orders.css" rel="stylesheet")

block header 
  include ../header

block main
  div(class="container")

    include ./item/header

    div(class="order-data")

    div(class="order-users")

    div(class="row")
      div(class="col-12 col-md-6")
        div(class="order-statuses")
      div(class="col-12 col-md-6")
        div(class="order-pretendents")

    include ./item/driverAddForm

block scripts 
  include ./item/orderDataTmpl
  include ./item/orderUsersTmpl
  include ./item/orderStatusesTmpl
  include ./item/orderPretendentsTmpl
  script(src="/js/admin/orders/item/main.js")