extends /layout/whideTreeRows

block head 
  script(src="/socket.io/socket.io.js")
  script(src="/js/base.js")
  script(src="/js/jquery.tmpl.min.js")
  link(href="/css/admin/orders/orders.css" rel="stylesheet")

block header 
  include ../header

block main
  div(class="container")

    include ./item/header

    include ./item/orderData

    include ./item/orderUsers

    if !order.driver
      include ./item/driverAddForm

block scripts 
  script(src="/js/admin/orders/item/main.js")