div(class="d-flex align-items-center justify-content-between")
    div(class="d-flex align-items-center gap-2")
        a(href="/admin")
            i(class="bi bi-arrow-left fs-3") 
        h3(class="mb-0") Курьеры

    div
        button(class="btn btn-dark btn-filter me-2" title="Фильтр") 
            i(class="bi bi-filter")
        a(href="/admin/drivers/add" class="btn btn-dark") Добавить 

hr