div(class="overflow-auto")
  table(class="table table-hover bg-white")
    thead 
      tr 
        th Имя
        th Логин
        th Телефон
        th(class="d-none d-lg-table-cell") Город
        th 
    tbody(class="drivers-list")