div(class="container-fluid") 
  div(class="d-flex align-items-center justify-content-between")
    div
      h2(class="m-0") Заказы

    div 
      button(class="btn btn-dark btn-filter ms-2" title="Фильтр заказов" data-bs-toggle="tooltip" data-bs-placement="top") 
        span Фильтр
        i(class="bi bi-filter")


  hr