div(class="modal fade" tabindex="-1" id="orderForm" data-bs-backdrop="static" )
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title") 
          span Заказ #
          span(class="order-id")
        span(class="badge-box ms-2")

        button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")

      div(class="modal-body")
        input(type="hidden" name="id")


        h5(class="store-name")

        div(class="mb-3")
          a(class="store-address-link" title="Адрес магазина" data-bs-toggle="tooltip" data-bs-placement="top" target="_blank") 
            span(class="me-1")
              i(class="bi bi-geo-alt-fill")
            span(class="store-address text-dark")

        div(class="mb-3")
          a(class="store-phone-link" title="Телефон магазина" data-bs-toggle="tooltip" data-bs-placement="top" target="_blank") 
            span(class="me-1")
              i(class="bi bi-phone-fill")
            span(class="store-phone text-dark")

        div(class="mb-3 order-sum-box")
          span(class="me-1" title="Сумма заказа" data-bs-toggle="tooltip" data-bs-placement="top" target="_blank") 
            i(class="bi bi-cash-coin")
          span 
            span(class="order-summ")
            span  руб.

        div(class="mb-3 order-comment-box")
          span(class="me-1" title="Комментарий к заказу" data-bs-toggle="tooltip" data-bs-placement="top" target="_blank") 
            i(class="bi bi-chat-text-fill")
          span(class="order-comment")


        div(class="delimiter m-3")
          a(class="route-link" target="_blank" title="Маршрут" data-bs-toggle="tooltip" data-bs-placement="top" )
            span(class="d-flex align-items-center")
              span(class="me-1")
                i(class="bi bi-arrow-down-up")
              small(class="text-secondary") маршрут


        h5 Адрес доставки

        div(class="mb-3")
          a(class="client-address-link" title="Адрес доставки" data-bs-toggle="tooltip" data-bs-placement="top" target="_blank") 
            span(class="me-1")
              i(class="bi bi-geo-alt-fill")
            span(class="delivery-address text-dark")

        div(class="mb-3 client-phone-box")
          a(class="client-phone-link" title="Телефон клиента" data-bs-toggle="tooltip" data-bs-placement="top" target="_blank") 
            span(class="me-1")
              i(class="bi bi-phone-fill")
            span(class="client-phone text-dark")

        a(href="#" class="btn-show-history") Показать историю измения статусов
        div(class="order-history")


      div(class="modal-footer justify-content-center")
        button(type="button" class="btn btn-success btn-take-order btn-sm") Взять заказ
        button(type="button" class="btn btn-danger btn-refuse-order btn-sm") Отказаться
        button(type="button" class="btn btn-warning btn-revert-order btn-sm") Вернуть
        button(type="button" class="btn btn-success btn-complete-order btn-sm") Выполнен
