.badge {
  font-size: 14px;
  margin: 0 5px 5px 0;
  cursor: pointer;
}

.status-checker:not(.checked) {
  background-color: #bbb !important;
}

.status-dot {
  width: 100px;
  text-align: center;
}

.status-comment {
  border-left: 2px solid #888;
  margin: 0 0 0 49px;
  padding: 0.5rem 0 0.5rem 1rem;
}

.status-comment p {
  margin: 0;
}

.order-users .user-block {
  min-width: 220px;
  max-width: 380px;
}

.status-dot .badge {
  margin: 0;
}
