extends /layout/main

block content 

	div(class="d-flex flex-column h-100")

		div(class="flex-grow-0")
			div(class="container")
				block header
					include /include/header

		div(class="flex-grow-1")
			block main

		div(class="flex-grow-0")
			block footer
				include /include/footer
