extends /layout/treeRows

block header 
	include ../header

mixin btn(name, link)
	div(class="m-2")
		a(href=link class="btn btn-dark def-width")= name

block main
	div(class="container text-center mb-5")
		+btn('Города', '/admin/cities')
		+btn('Магазины', '/admin/stores')
		+btn('Водители', '/admin/drivers')
		+btn('Заказы', '/admin/orders')
		hr(style="max-width:200px;margin:1rem auto;")
		+btn('Выход', '/logout')